Repository OpenBCca/airbnb-regulation, changes with the owners that CODEOWNERS names for each.
All owners: @umsu2, @nam-m, @alchuu00, @immangat

test codeowners
  analytics/policy/README.md
Owners: @nam-m, @umsu2

test codeowners (#26)
  analytics/policy/README.md
Owners: @nam-m, @umsu2

Add related docs
  analytics/policy/docs/policy_evaluation_architecture.drawio
  analytics/policy/docs/sw_design_doc.md
Owners: @umsu2

Use poetry for package management and include in README
  analytics/policy/README.md
  analytics/policy/pyproject.toml
Owners: @nam-m, @umsu2

Add dependencies in toml and lock files
  analytics/policy/poetry.lock
  analytics/policy/pyproject.toml
Owners: @nam-m, @umsu2

Add readme
  analytics/policy/README.md
Owners: @nam-m, @umsu2

Add sample unit and integration tests
  analytics/policy/src/tests/integration/test_sample_integration.py
  analytics/policy/src/tests/unit/test_sample_unit.py
Owners: @umsu2

Move tests folder outside of src
  analytics/policy/tests/integration/test_sample_integration.py
  analytics/policy/tests/unit/test_sample_unit.py
Owners: @umsu2

Change some tool configs
  analytics/policy/pyproject.toml
Owners: @nam-m, @umsu2

Add tests to src in ruff config
  analytics/policy/pyproject.toml
Owners: @nam-m, @umsu2

Add sw design doc link
  analytics/policy/README.md
Owners: @nam-m, @umsu2

Add comments to some configs
  analytics/policy/pyproject.toml
Owners: @nam-m, @umsu2

Remove docs as they existed in wiki
  analytics/policy/docs/policy_evaluation_architecture.drawio
  analytics/policy/docs/sw_design_doc.md
Owners: @umsu2

Project setup for policy evaluation module (#30)
  analytics/policy/README.md
  analytics/policy/poetry.lock
  analytics/policy/pyproject.toml
  analytics/policy/tests/integration/test_sample_integration.py
  analytics/policy/tests/unit/test_sample_unit.py
Owners: @nam-m, @umsu2

Setup report module project files and readme
  analytics/report/README.md
  analytics/report/poetry.lock
  analytics/report/pyproject.toml
Owners: @alchuu00, @umsu2

Update project structure and test file location
  analytics/report/README.md
  analytics/report/src/__init__.py
  analytics/report/src/listing_store/__init__.py
  analytics/report/src/listing_store/listing_store.py
  analytics/report/src/main.py
  analytics/report/src/report_generation/__init__.py
  analytics/report/src/report_generation/report_generator.py
  analytics/report/src/report_store/__init__.py
  analytics/report/src/report_store/report_store.py
  analytics/report/tests/integration/__init__.py
  analytics/report/tests/unit/__init__.py
Owners: @alchuu00, @umsu2

Setup empty scrapy project.
  ingestion/airbnb_scrapping/airbnb_listings/__init__.py
  ingestion/airbnb_scrapping/airbnb_listings/items.py
  ingestion/airbnb_scrapping/airbnb_listings/middlewares.py
  ingestion/airbnb_scrapping/airbnb_listings/pipelines.py
  ingestion/airbnb_scrapping/airbnb_listings/settings.py
  ingestion/airbnb_scrapping/airbnb_listings/spiders/__init__.py
  ingestion/airbnb_scrapping/scrapy.cfg
Owners: @umsu2

Added idea folder to gitignore.
  .gitignore
Owners: @umsu2

Updated ingestion module readme.
  ingestion/README.md
Owners: @immangat, @umsu2

Fix github project url
  analytics/report/README.md
Owners: @alchuu00, @umsu2

Added readme for the scrapy project.
  ingestion/airbnb_scrapping/README.md
Owners: @umsu2

Added requirements.txt for pip installation.
  ingestion/requirements.txt
Owners: @immangat, @umsu2

Updated README.md.
  ingestion/airbnb_scrapping/README.md
Owners: @umsu2

Updated the ingestion module readme
  ingestion/README.md
Owners: @immangat, @umsu2

Deleted redundant readme
  ingestion/airbnb_scrapping/README.md
Owners: @umsu2

Fixed some formatting.
  ingestion/README.md
Owners: @immangat, @umsu2

Initialize poetry in /analytics directory
  analytics/poetry.lock
  analytics/pyproject.toml
  analytics/report/README.md
Owners: @umsu2, @alchuu00

Resolved comments
  analytics/pyproject.toml
  analytics/report/README.md
Owners: @umsu2, @alchuu00

Update README.md
  analytics/report/README.md
Owners: @alchuu00, @umsu2

Add dict utils function
  analytics/policy/src/utils/dict_utils.py
Owners: @umsu2

Updated urllib3 library and packages
  analytics/policy/poetry.lock
  analytics/policy/pyproject.toml
Owners: @nam-m, @umsu2

[WIP] Added http client for Van Open Data and listing class
  analytics/policy/src/services/business_licences_client.py
  analytics/policy/src/services/listing.py
Owners: @umsu2

Docs/project setup for report module (#33)
  analytics/poetry.lock
  analytics/pyproject.toml
  analytics/report/README.md
  analytics/report/src/__init__.py
  analytics/report/src/listing_store/__init__.py
  analytics/report/src/listing_store/listing_store.py
  analytics/report/src/main.py
  analytics/report/src/report_generation/__init__.py
  analytics/report/src/report_generation/report_generator.py
  analytics/report/src/report_store/__init__.py
  analytics/report/src/report_store/report_store.py
  analytics/report/tests/integration/__init__.py
  analytics/report/tests/unit/__init__.py
Owners: @umsu2, @alchuu00

Removed these files to restructure project skeleton
  analytics/policy/src/services/business_licences_client.py
  analytics/policy/src/services/listing.py
  analytics/policy/src/utils/dict_utils.py
Owners: @umsu2

Removed docs
  analytics/policy/docs/policy_evaluation_architecture.drawio
  analytics/policy/docs/sw_design_doc.md
Owners: @umsu2

Updated project configs for both policy and report modules
  analytics/poetry.lock
  analytics/pyproject.toml
Owners: @umsu2

Removed policy configs
  analytics/policy/poetry.lock
  analytics/policy/pyproject.toml
Owners: @nam-m, @umsu2

Shared contract between policy and report modules
  analytics/models/address.py
  analytics/models/listing.py
Owners: @umsu2

Removed listing class test code
  analytics/models/listing.py
Owners: @umsu2

Create a mock listing store
  analytics/report/src/listing_store/listing_store.py
Owners: @umsu2

CODEOWNERS:

*                   @umsu2
analytics/policy/*  @nam-m      @umsu2
analytics/report/*  @alchuu00   @umsu2
ingestion/*         @immangat   @umsu2
