Repository OpenBCca/airbnb-regulation, changes with the owners that CODEOWNERS names for each.
All owners: @umsu2, @nam-m, @alchuu00, @immangat

CODEOWNERS:

*                   @umsu2
analytics/policy/*  @nam-m      @umsu2
analytics/report/*  @alchuu00   @umsu2
ingestion/*         @immangat   @umsu2

Made Initial listing spider.
  ingestion/airbnb_scrapping/airbnb_listings/spiders/listing_spider.py
Owners: @umsu2

Added ipython shell for easier testing for requests etc using scrapy
  ingestion/airbnb_scrapping/scrapy.cfg
Owners: @umsu2

implement parse to get airbnb listing ids for one page.
  ingestion/airbnb_scrapping/airbnb_listings/spiders/listing_spider.py
Owners: @umsu2

parse can now get listings on all pages.
  ingestion/airbnb_scrapping/airbnb_listings/spiders/listing_spider.py
Owners: @umsu2

Added item that represents an airBnB Listing
  ingestion/airbnb_scrapping/airbnb_listings/items.py
Owners: @umsu2

Ingestion module/project setup (#35)
  .gitignore
  ingestion/README.md
  ingestion/airbnb_scrapping/airbnb_listings/__init__.py
  ingestion/airbnb_scrapping/airbnb_listings/items.py
  ingestion/airbnb_scrapping/airbnb_listings/middlewares.py
  ingestion/airbnb_scrapping/airbnb_listings/pipelines.py
  ingestion/airbnb_scrapping/airbnb_listings/settings.py
  ingestion/airbnb_scrapping/airbnb_listings/spiders/__init__.py
  ingestion/airbnb_scrapping/scrapy.cfg
  ingestion/requirements.txt
Owners: @umsu2, @immangat

Restructure policy module to follow analytics module (#36)
  analytics/models/address.py
  analytics/models/listing.py
  analytics/poetry.lock
  analytics/policy/poetry.lock
  analytics/policy/pyproject.toml
  analytics/pyproject.toml
Owners: @umsu2, @nam-m

Delete __init__.py files
  analytics/report/src/__init__.py
  analytics/report/src/listing_store/__init__.py
  analytics/report/src/report_generation/__init__.py
  analytics/report/src/report_store/__init__.py
  analytics/report/tests/integration/__init__.py
  analytics/report/tests/unit/__init__.py
Owners: @umsu2

Create unit test for listing_store
  analytics/report/tests/unit/test_listing_store.py
Owners: @umsu2

Removed placeholder unit test
  analytics/policy/tests/unit/test_sample_unit.py
Owners: @umsu2

Included dict utility function
  analytics/policy/utils/dict_utils.py
Owners: @umsu2

Added business licence client and its tests
  analytics/policy/services/business_licence_client.py
  analytics/policy/tests/unit/test_business_licence_client.py
Owners: @umsu2

Changed public to private methods and returned array for licence status results
  analytics/policy/services/business_licence_client.py
  analytics/policy/tests/unit/test_business_licence_client.py
Owners: @umsu2

Use private merge query params method and append value by "and" for same key
  analytics/policy/services/business_licence_client.py
  analytics/policy/utils/dict_utils.py
Owners: @umsu2

Remove print
  analytics/policy/services/business_licence_client.py
Owners: @umsu2

Added registration id to listing Item.
  ingestion/airbnb_scrapping/airbnb_listings/items.py
Owners: @umsu2

Added ability to get registration_ID.
  ingestion/airbnb_scrapping/airbnb_listings/spiders/listing_spider.py
Owners: @umsu2

#15:feat:report generation as HTML
  analytics/report/src/report_generation/report_generator.py
  analytics/report/src/report_generation/template/reporttemplate.html
  analytics/report/src/report_store/output.html
Owners: @umsu2

comment out pandas
  analytics/report/src/report_generation/report_generator.py
Owners: @umsu2

#15:feat:report generation as HTML
  analytics/report/src/report_generation/report_generator.py
Owners: @umsu2

feature: Issue #17 - Registration Number Policies
  analytics/policy/services/registration_number_policies.py
  analytics/policy/tests/unit/test_registration_number_policies.py
  analytics/policy/tests/unit/test_sample_unit.py
Owners: @umsu2

create report generation service
  analytics/report/src/main.py
Owners: @umsu2

Changed obey robot.txt to false.
  ingestion/airbnb_scrapping/airbnb_listings/settings.py
Owners: @umsu2

Removed licence_number from process method and added invalid test case
  analytics/policy/services/business_licence_client.py
  analytics/policy/tests/unit/test_business_licence_client.py
Owners: @umsu2

Added exception for json loads method
  analytics/policy/services/business_licence_client.py
Owners: @umsu2

Added empty and None licence number test cases
  analytics/policy/tests/unit/test_business_licence_client.py
Owners: @umsu2

Add Listing types
  analytics/report/src/listing_store/listing_store.py
  analytics/report/tests/unit/test_listing_store.py
Owners: @umsu2

Removed expected count in mock response data
  analytics/policy/tests/unit/test_business_licence_client.py
Owners: @umsu2

Removed unused Address import
  analytics/policy/services/business_licence_client.py
Owners: @umsu2

Added docstrings and made helper methods.
  ingestion/airbnb_scrapping/airbnb_listings/spiders/listing_spider.py
Owners: @umsu2

Updated requirements.txt to include only needed dependencies.
  ingestion/requirements.txt
Owners: @immangat, @umsu2

Updated README.md to include usage instructions.
  ingestion/README.md
Owners: @immangat, @umsu2

updated doc strings for handle_listing
  ingestion/airbnb_scrapping/airbnb_listings/spiders/listing_spider.py
Owners: @umsu2

deleted commented out code.
  ingestion/airbnb_scrapping/airbnb_listings/spiders/listing_spider.py
Owners: @umsu2

updated item to include latitude and longitude field.
  ingestion/airbnb_scrapping/airbnb_listings/items.py
Owners: @umsu2

Added code to get latitude and longitude of listing.
  ingestion/airbnb_scrapping/airbnb_listings/spiders/listing_spider.py
Owners: @umsu2

Added docstrings to items.py
  ingestion/airbnb_scrapping/airbnb_listings/items.py
Owners: @umsu2

Use join instead of + operator
  analytics/policy/services/business_licence_client.py
Owners: @umsu2

Policy results obj
  analytics/models/policy_results.py
Owners: @umsu2

Added pipeline to check for duplicate airbnb listing values in csv
  ingestion/airbnb_scrapping/airbnb_listings/pipelines.py
Owners: @umsu2
